.env
.env local

# ===============================
# 시스템 및 캐시
# ===============================
.DS_Store
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# ===============================
# 환경 변수 (절대 유출 금지)
# ===============================
.env
auth/client_secrets.json

# ===============================
# IDE 설정 (IntelliJ, VSCode)
# ===============================
.idea/
*.iml
.vscode/

# ===============================
# 빌드 및 출력물 (용량 및 보안)
# ===============================
build/
out/
bin/
*.log
temp/
output/*.mp4
output/*.jpg
assets/bg_*
